@import 'styles/_colours';
@import 'styles/_type';

.intro {

  background-color: $royal;
  padding: 80px 20px;
  position: relative;
  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto;
    padding: 0 15px 50px;
    border-bottom: 1px solid $white;
    width: 360px;    
  }

  &__messaging {
    margin-left: auto;
    margin-right: auto; 
    max-width: 48rem;
  }

  &__text {
    font-family: $bodycopy;
    font-size: 1.5625rem;  
    font-weight: 700;
  }

  &__icon {
    background-color: $royal;
    bottom: 18px;    
    padding: 0 15px;
    position: relative;    
    font-size: 34px;
  }

  &__more-link {
    text-decoration: none;
    background: darken($royal, 5);
    border: 2px solid darken($royal, 5);
    color: $white;
    margin-bottom: 2em;
    &:visited {
      color: $white;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      border: 2px solid $white;
      background: $royal;
    }
  }
}