/* Global Reset */
* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  padding-top: 0;
  line-height: 1.4;
  background-color: #2e4066;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-transform: uppercase; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #fff;
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:visited {
  color: #fff; }

table {
  font-size: inherit;
  font: 100%; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-menu_icon, .icon-star_icon, .icon-twitter_icon, .icon-linkedin_icon, .icon-google_icon, .icon-github_icon, .icon-flickr_icon, .icon-dribbble_icon, .icon-behance_icon, .icon-grid_icon, .icon-type_icon, .icon-down_arrow, .icon-color_icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-menu_icon:before {
  content: "\e000"; }

.icon-star_icon:before {
  content: "\e001"; }

.icon-twitter_icon:before {
  content: "\e002"; }

.icon-linkedin_icon:before {
  content: "\e003"; }

.icon-google_icon:before {
  content: "\e004"; }

.icon-github_icon:before {
  content: "\e005"; }

.icon-flickr_icon:before {
  content: "\e006"; }

.icon-dribbble_icon:before {
  content: "\e007"; }

.icon-behance_icon:before {
  content: "\e008"; }

.icon-grid_icon:before {
  content: "\e00a"; }

.icon-type_icon:before {
  content: "\e00b"; }

.icon-down_arrow:before {
  content: "\e00c"; }

.icon-color_icon:before {
  content: "\e009"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "league-gothic", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
